.footer{
  background-color: #273a43;
  width: 100%;
}
.footer__info{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
}
.footer__info_item{
    width: 30%;
    padding-left: 2%;
}
.footer__info_item-logo{
    width: 50%;
}
.footer__info_item-logo img{
    width: 20%;
}
.footer__info_item-logo h2{
    display: inline;
    margin-left: 2%;
    font-family: MV Boli;
    vertical-align: 35%;
    color: #ffdb47;
    font-size: 21px;
}
.footer__info_item-text{
    width: 80%;
}
.footer__info_item-text p{
    color: #c3c3c3;
}
.footer__info_item h3{
    color: #ffffff;
    font-size: 22px;
}
.footer__info_item-contact{
    width: 70%;
    margin-bottom: 1%;
}
.footer__info_item-contact img{
    width: 7%;
}
.footer__info_item-contact p{
    color: #ffffff;
    font-size: 13.5px;
    display: inline;
    margin-left: 5%;
    vertical-align: 35%;
}
.footer__info_item-new{
    width: 70%;
}
.footer__info_item-new p{
    color: #c4c4c4;
    font-size: 13.5px;
}
.footer__info_item-new time{
    color: #71b6d5;
    font-size: 13.5px;
}
.footer__avtor{
    background-color: #172227;
    padding: 2%;
    width: 96%;
}
.footer__avtor_content{
    margin-left: 10%;
    display: flex;
    width: 80%;
}
.footer__avtor_content_item{
    margin-left: 0%;
    margin-right: 5%;
    width: 80%;
}
.footer__avtor_content_item p{
    color: #c4c4c4;
    font-size: 13.5px;
}
.footer__avtor_content_item-messanger{
    width: 25%;
}
.footer__avtor_content_item-messanger a{
    padding-right: 1%;
}
.footer__avtor_content_item-messanger img{
    width: 30%;
}