.main{
    position: relative;
    margin-top: 10%;
    z-index: 4;
    background-color: white;
    width:100%;
}

.section__provision{
    margin-left: 10%;
    width: 80%;
    padding-top: 3%;
}
.section__provision_header{
    margin-bottom: 6%;
    text-align: center;
}
.section__provision_header h2{
    color: #709dca;
    font-size: 24px;
}
.section__provision_header h4{
    color: #394b50;
    font-size: 18px;
}
.section__provision_content{
    display: flex;
    flex-wrap: wrap;
}
.section__provision_content-item{
    width: 45%;
    margin-left: 5%;
}
.section__provision_content-item_img{
    width: 15%;
    float: left;
    margin: 4% 0% 10% 0%;
}
.section__provision_content-item_img img{
    width: 70%;
}
.section__provision_content-item_text{
    margin-left: 2%;
}
.section__provision_content-item_text h4{
    font-size: 16px;
    color: #394b50;
    text-transform: uppercase;
    margin-bottom: -1%;
}
.section__provision_content-item_text p{
    font-size: 13px;
    color: #7b7b7b;
}

.section__slang{
    margin-top: 5%;
}
.section__slang_content{
    display: flex;
}
.section__slang_content img{
    width: 50%;
}
.section__slang_content_text{
    padding: 3% 5% 5%;
    background-color: #ffc155;
}
.section__slang_content_text h3{
    font-size: 26px;
    color: white;
}
.section__slang_content_text p{
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 7%;
    color: white;
}
.section__slang_content_text a{
    border: 1px solid #cb8d21;
    padding: 2%;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #e7ad48;
    color: white;
}

.section__foto{
    margin-top: 5%;
}
.section__foto_header{
    text-align: center;
}
.section__foto_header h2{
    font-size: 26px;
    color: #709dca;
    text-transform: uppercase;
}
.section__foto_header h4{
    font-size: 16px;
    color: #062033;
}
.section__foto_gallery{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.section__foto_gallery img{
    width: 25%;
}

.section__comment{
    margin-top: 5%;
    width: 100%;
}
.section__comment_header{
    text-align: center;
}
.section__comment_header h2{
    font-size: 26px;
    color: #709dca;
    text-transform: uppercase;
}
.section__comment_content{
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 4%;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}
.section__comment_content_item{
    color: #747474;
    width: 30%;
    margin-left: 10%;
}
.section__comment_content_item-text{
    background-color: #f6f3f3;
    width: auto;
}
.section__comment_content_item-text p{
    font-size: 13px;
    font-style: italic;
    padding: 5%;
    line-height: 1.5;
    color: #747474;
}
.section__comment_content_item_contact{
    display: inline;
}
.section__comment_content_item_contact img{
    width: 10%;
}
.section__comment_content_item_contact p{
    display: inline;
    font-size: 13px;
    color: #4d4e50;	 
    vertical-align: 100%;
    margin-left: 3%;
}

.section__forms_dispath{
    margin-top: 5%;
    background-color: #eef0f0;
    padding-bottom: 5%;
}
.section__forms_dispath h2{
    padding-top: 5%;
    font-size: 26px;
    color: #709dca;
    text-transform: uppercase;
    text-align: center;
}
.section__forms_dispath form{
    margin-top: 3%;
    margin-left: 12%;
}
.section__forms_dispath input{
    border: 4px solid #ffc155;
    color: #2a284f;
    font-size: 18px;
    background-color: white;
    margin-bottom: 1%;
    width: 39%;
    padding: 0.5%;
}
.section__forms_dispath textarea{
    border: 4px solid #ffc155;
    color: #2a284f;
    font-size: 18px;
    background-color: white;
    float: right;
    margin-right: 13.5%;
    margin-top: -9%;
    padding: 0.5%;
    width: 39%;
    font-family: Roboto;
}
.section__forms_dispath button{
    border: 4px solid #ffc155;
    color: white;
    font-size: 18px;
    background-color: #273a43;
    padding: 0.5% 13.9%;
}