@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face{
  font-family: MV Boli;
  src: url(fonts/MV_Boli.ttf)
}
body{
  margin: 0%;
  font-family: Roboto;
}
a{
  text-decoration: none;
}
hr{
  border: 1px solid #ffdb47;
  width: 20%;
}
